:root{
   --main-background: #FFFFFF;
   --color-logo: #4d5ae5;
   --color-sublogo:  #2e2f42;
   --color-adress: #434455;
   --list-color: #2e2f42;
   --sub-background: #2e2f42;
   --subtittle-color: #2e2f42;
   --footer-text: #FFFFFF;
   --portfolio-btn: #F4F4FD;
   --text-color: #434455;
   --fill: #f4f4fd;
   --client-link: #8e8f99; 
   --hidden-color: #f4f4fd; 
   --form-color: #8e8f99;
   --check-color: #404bbf; 
   --check-link: #4d5ae5;;
}
/*-----------------------------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
li{
   list-style: none;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
   display: block;
}
/*-------------------------------------------*/
body{
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
   background-color: var(--main-background);
}

.section{
   padding-bottom: 120px;
}

.container {
   /*width: 1158px;*/
   width: 100%;
   margin: 0 auto;
   padding: 0 15px 0 15px;
}

.visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
/*--------------HEADER-------------------*/
.webstudio-header{
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
   display: flex;
   align-items: center;
   
}

.header-cntainer{
   display: flex;
   align-items: center;
   
}

.header-logo {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
   margin-right: 76px;
}
.header-web{
   color: var(--color-sublogo);
}
.link{
   text-decoration: none;
}
.header-menu {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}
.list{
   list-style: none;
   display: flex;
   gap: 40px;
}
.list-item{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em; 
}
.list-item-link{
   padding: 24px 0;
   display: block;
   color: #404bbf; 
}
.studio{
   position: relative;
   color: #404bbf; 
}

.studio-link{
   color: #404bbf;
}
.studio::after{
   content: '';
   position: absolute;
   left: 0;
   bottom: -1px;
   width: 48px;
   height: 4px;
   background-color:  #404BBF;
   border-radius: 2px;
}




.list-item a{
   
}
.list-item-link{
   color: var(--list-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio{
   color: #404bbf;
}
.list-item a:hover,
.list-item a:focus{
   color: #404bbf;
}
address{
   font-style: normal;
}
.header-link{
   
}
.contacts{
   margin-left: auto;
}
.contacts-link:hover,
.contacts-link:focus{
   color: #404bbf;
}
.contacts-link{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-adress);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------HERO-----------------*/
.hero{
   background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 188px 0;
   max-width: 1440px;
   margin: 0 auto;
}
.hero-contanier{
   
   
}
.hero-tittle {
   font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
max-width: 496px;
text-align: center;
margin: 0 auto;
margin-bottom: 48px;
}
.hero-btn {
   display: block;
   background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
padding: 16px 32px;
margin: 0 auto;
min-width: 169px;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
   background-color: #404BBF;
}




/*------------------BENEFITS-----------------*/
.benefits .container{   
}

.list {
}
.benefits .list{
   /*gap: 24px;*/
   gap: 72px;
   flex-wrap: wrap;
  
}
.benefits{
   padding-top: 166px;
   padding-bottom: 96px;
  
}

.benefits-tittle{
   font-size: 36px;
   color: var(--subtittle-color);
font-weight: 700;
line-height: 1.11; /* 40/36 */
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
margin-bottom: 8px; 
}
/*.benefits-tittle{
   font-weight: 500;
font-size: 20px;


}*/
.benefits-item{
   /*width: calc((100% - 72px)/4);*/
   width: 100%;
}

/*.benefits-block-item{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 112px;
   background-color: #f4f4fd; 
   border-radius: 4px;
   margin-bottom: 8px; 
}*/

.benefits-text {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
}

.benefits-icon{
   display: none;
}

/*------------------WHAT-----------------*/
.what{
   display: none;
}
.what-tittle{
   font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--subtittle-color);
margin-bottom: 72px;
}
.what .list{
   gap: 24px;
}
.what-item{
   width: calc((100% - 48px)/3);
}
/*------------------TEAM-----------------*/
.team{
   background-color: #F4F4FD;
   padding: 120px 0;
   
}
.team-tittle {
   font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--subtittle-color);
margin-bottom: 72px;
}
.team .list{
   gap: 24px;
   
}
.team-list {
   background-color: #FFFFFF;
   width: calc((100% - 72px)/4);   
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;

}
.team-list-text{
   padding: 32px 0;
}
.team-subtittle {
   font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--subtittle-color);
margin-bottom: 8px;
}
.team-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-adress);
margin-bottom: 8px;
}

.team-social{
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
      
}

.team-social-link:hover,
.team-social-link:focus{
   background-color: #404BBF;
}

.social-list{
   justify-content: center;
}
.team-social-link{
   width: 100%;
   height: 100%;
   background-color: var(--color-logo);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.team-social-icon{
   fill: var(--fill);
}
/*-----------------CLIENTS------------------*/
.clients {
   padding-top: 120px;
   padding-bottom: 120px;
}

.clients-tittle{
   text-align: center;
   font-size: 36px;
   line-height: 1.11;
   color:  var(--subtittle-color);
   margin-bottom: 72px;/* 40/36 */
}

.clients-list-items{
width: calc((100% - 120px) / 6);
height: 88px;
}

.client-link{
   width: 100%;
   height: 100%;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--client-link);
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}




.clients-list {
 gap: 24px;
}
.clients-block {
   border: 1px solid #8E8F99;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 88px;
}
.clients-social-icon{
   fill: #8e8f99;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.client-link:hover .clients-social-icon,
.client-link:focus .clients-social-icon {
  fill: #404bbf;
}

/*------------------FOOTER-----------------*/
.footer {
   background-color: var(--sub-background);
   padding: 100px 0;
}
.footer-container{
   display: flex;
   align-items: baseline;

}

.logo-link-footer{
   display: block;
   margin-bottom: 16px;
}

.footer-logo{
   margin-right: 120px;
}

.footer-container a{
   margin-bottom: 16px;

}
.footer-container p{
   max-width: 264px;
}
.footer span{
   color: #f4f4fd;
}
.footer-text {
   
   font-size: 16px;  
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--footer-text);
} 


.footer-social-link{
   display: flex;
   width: 100%;
   height: 100%;
   background-color: var(--color-logo);
   border-radius: 50%;
   color: var(--hidden-color);
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.footer-social-link:hover,
.footer-social-link:focus{
   background-color: #31d0aa; 
}



.footer-list{
   gap: 120px;
}
.footer-social{
   gap: 16px;
}

.footer-social-block{
   margin-right: 80px;
}

.footer-text-social{
   font-weight: 500;
   font-size: 16px;  
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--footer-text);
   margin-bottom: 16px;
}

.footer-form-text{
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff; 
margin-bottom: 16px;
}
.footer-form{
   display: flex;
   gap: 24px;
}

.footer-form-input{
   width: 264px;
   height: 40px;
   border: 1px solid #ffffff;
   background-color: transparent; 
   font-size: 12px; 
   line-height: 1.5;
   letter-spacing: 0.04em; 
   padding-left: 16px; 
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
   border-radius: 4px; 
   color: #ffffff; 
}

.footer-form-input::placeholder{
   color: #ffffff; 
}

.footer-form-btn{
   min-width: 165px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: #ffffff ;
cursor: pointer;
background-color: #4D5AE5;
border: none; 
border-radius: 4px;
}

.footer-form-icon{
   margin-left: 16px; 
}

/*------------------PORTFOLIO-----------------*/
/*------------------CATEGORIES-----------------*/
.categories{
   padding: 96px 0 120px 0;
}
.categories-container{
   
}

.portfolio-link{
   position: relative;
   color: #404bbf; 
}

.portfolio-link::after{
   content: '';
   position: absolute;
   left: 0;
   bottom: -1px;
   width: 66px;
   height: 4px;
   background-color:  #404BBF;
   border-radius: 2px;
}


.categories-item-block{
   position: relative;
   overflow: hidden;
}
/*.categories-item-block:hover .categories-hidden-block{
   transform: translateY(0);
}

.categories-item-block:focus .categories-hidden-block{
   transform: translateY(0);
}*/

/*.categories-hidden-block{
   background-color: #4D5AE5;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.categories-hidden-block p{
   line-height: 1.5;
   color: var(--footer-text); 
   padding: 40px 32px 0 32px;
   
}*/

.categories-link{
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   display: block; 
}

.categories-link:hover,
.categories-link:focus{
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   transform: translateY(0%);

}

.categories .list{
   flex-wrap: wrap;
   gap: 24px;
   /*column-gap: 24px;
   row-gap: 48px;*/
   justify-content: center;
   margin-bottom: 72px;
}

.portfolio-list{
   display: flex;
   gap: 48px 24px;
   flex-wrap: wrap;
   
}
.categories-item{
   width: calc((100% - 48px)/3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-item-text{
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none; 
}
.categories-item-text h2{
   margin-bottom: 8px;
   
}
.cat-btn{
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-logo);
background-color: var(--portfolio-btn);
padding: 12px 24px;
border: 1px solid #e7e9fc;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cat-btn:hover,
.cat-btn:focus{
   color: #FFFFFF;
   background-color: #404BBF;
   cursor: pointer;
   border: 1px solid transparent;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.categories-btn{
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-logo);
background-color: var(--portfolio-btn);
}
.portfolio-subtittle{
   font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--subtittle-color);
}
.portfolio-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}



.categories-block-item{
   position: relative;
   overflow: hidden;
}

.categories-hidden{
   position: absolute;
   top: 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--hidden-color); 
   padding: 40px 32px;
   background-color: #4d5ae5; 
   height: 100%;
   width: 100%;
   transform: translateY(100%); 
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-link:hover .categories-hidden,
.categories-link:focus .categories-hidden{
   transform: translateY(0);
}

/*----------------BACKDROP---------------*/
.backdrop{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   z-index: 999;
   
}

.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none; 
}

.modal{
   width: 408px;
   min-height: 584px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fcfcfc; 
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
   border-radius: 4px; 
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   padding: 72px 24px 24px 24px;
}

.modal-btn{
   position: absolute; 
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 50%; 
   display: flex; 
   align-items: center; 
   justify-content: center; 
   background-color: #e7e9fc; 
   border: 1px solid rgba(0, 0, 0, 0.1); 
   padding: 0;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
   background-color: #404bbf; 
   border: none; 
   fill: #ffffff
}

.modal-icon{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop-text{
   font-weight: 500;
font-size: 16px;
line-height: 1.5; /* 24/16 */
text-align: center;
letter-spacing: 0.02em;
color: var(--subtittle-color);
margin-bottom: 16px;
}

.bacdrop-formm{
   margin-bottom: 8px;
}

.bacdrop-formm-name{
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: var(--form-color);
   display: block;
   margin-bottom: 4px;
}

.name-block{
   position: relative;
}

.form-input-name{
   width: 100%;
   height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4); 
   border-radius: 4px; 
   background-color: transparent;
   padding-left: 38px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-name:focus{
   border-color: #4D5AE5; 
   fill: #4D5AE5; 
}

.form-name-icon{
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   fill: #2E2F42;
}

.form-input-name:focus + .form-name-icon{
   fill: #4D5AE5; 
}

.backdrop-textarea-block{
   margin-bottom: 16px;
}

.backdrop-textarea{
   width: 100%;
   height: 120px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4); 
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px; 
   background-color: transparent;
   padding: 8px 16px; 
   outline: transparent; 
   resize: none; 
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop-textarea:focus{
   border-color: #4D5AE5; 
}

.backdrop-check{
   margin-bottom: 24px;

}

.backdrop-checkbox-label{
   font-size: 12px; 
   line-height: 1.17;
   letter-spacing: 0.04em; 
   color: var(--form-color);
}

.backdrop-checkbox-icon{
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
}

.form-check-icon{

}

.backdrop-checkbox:checked + .backdrop-checkbox-label .backdrop-checkbox-icon{
   background-color: #404bbf; 
   fill: var(--fill);
   border: none;
}

.backdrop-checkbox-link{
   color: var(--check-link);
   text-decoration: underline;
}

.feedback_form-btn{
   display: block;
   min-width: 169px;
   height: 56px;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   background-color: #4D5AE5;
   border: none;
   border-radius: 4px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   margin: 0 auto;
}


/*-------------MEDIA--------------------*/   
@media screen and (min-width: 428px) {
   .container {
      max-width: 396px;
      
   }
   
}

@media screen and (min-width: 768px) {
   .container {
      max-width: 738px;
      
   }
   .benefits-item{
     
         width: calc((100% - 48px)/2);    
   }
   .benefits .list{
      gap:72px 24px;
   }
   .benefits-tittle{
      text-align: left;
   }
}

@media screen and (min-width: 1158px) {
   .container {
      max-width: 1158px;
      
   }
   .benefits-item{
     
         width: calc((100% - 72px)/4);    
   }
   .benefits .list{
      gap:72px 24px;
   }
   .benefits-tittle{
      font-weight: 500;
      font-size: 20px;
   }
   .benefits-icon{
      display: block;
   }
   .benefits-block-item{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      background-color: #f4f4fd; 
      border-radius: 4px;
      margin-bottom: 8px; 
   }
}
